node_modules/
package-lock.json
.idea/misc.xml
.idea/encodings.xml
.idea/hitchNditch.iml
.idea/modules.xml
.idea/shelf/unnamed.xml
.idea/shelf/unnamed/shelved.patch
.idea/vcs.xml
.idea/workspace.xml
static/js/index.js
static/js/index.js
static/js/index.js
